.colorPicker {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.colorButtons {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.colorButton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  margin: 0.5rem;
  padding-left: 20px;
  transition: box-shadow 0.2s ease-in-out;
}

.colorButton:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.colorButton:nth-child(n + 5) {
  display: none;
}

@media screen and (min-width: 768px) {
  .colorButton {
    width: 30px;
    height: 30px;
  }

  .colorButton:nth-child(n + 5) {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .colorButton {
    width: 20px;
    height: 20px;
  }
}

.slider {
  display: flex;
}

.sliderInput {
  margin-left: 1.5rem;
  width: 50%;
}
