/* CountdownTimer.module.css */

@keyframes pulseEffect {
  0% {
    background-color: #fff;
  }
  50% {
    background-color: rgb(255, 107, 107);
  }
  100% {
    background-color: #fff;
  }
}

@keyframes pulseAnimation {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

.countdownTimerWriting {
  height: 6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  transition: background-color 0.5s;
}

.countdownTimerDrawing {
  height: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  width: 20%;
  min-width: 7rem;
}

.countdownTimerWriting.pulse {
  animation: pulseEffect 2s infinite;
}

.countdownTimerDrawing.pulse {
  animation: pulseEffect 2s infinite;
}

.countdownTimerWriting.pulse > span,
.countdownTimerDrawing.pulse > span {
  animation: pulseAnimation 2s infinite;
}
