.drawPadContainer {
  display: flex;
  justify-content: center;
  margin-left: 1rem;
  margin-top: .5rem;
  margin-bottom: 0;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  width: 88%;
}

.toolbar {
  display: flex;
  flex-direction: column;
  width: 10rem;
  flex-wrap: wrap;
  align-items: center;
}

.actionButton {
  width: 80%;
  margin-top: 0.5rem;
}

.submitButton {
  background-color: #2ecc71;
}

.submitButton:hover {
  background-color: #1e9957;
}

.drawPad {
  width: 50vw;
  height: 50vh;
}
