@font-face {
  font-family: "GochiHand";
  src: url("/fonts/GochiHand-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, #f1ff33 0%, #ff99cc 100%);
  background-attachment: fixed;
  font-family: "GochiHand", cursive;
  color: #333;
  line-height: 1.6;
  font-size: 18px;
}

textarea,
input {
  font-family: "GochiHand", cursive;
}

a {
  color: #7e6aaf;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #a395d4;
  transition: text-decoration 0.3s ease-out, color 0.3s ease-out;
}

button {
  font-family: "GochiHand", cursive;

  background-color: #7e6aaf;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  display: inline-block;
  transition: background-color 0.3s ease-out;
  cursor: pointer;
  border-width: 0;
}

button:hover {
  background-color: #a395d4;
}

h2 {
  margin-bottom: 0.1rem;
}


input[type="checkbox"] {
  appearance: none; /* remove default checkbox appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 2rem;
  height: 2rem;
  border-radius: 10px;
  border: 1px solid #999;
  outline: none;
  background-color: #fff;
}

input[type="checkbox"]:checked {
  background-color: #a395d4;
  background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="none" stroke="white" stroke-width="2"><path d="M3 3L13 13M13 3L3 13"/></svg>');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
}