html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #f9f8fd;
  font-family: "Poppins", sans-serif;
  color: #333;
  line-height: 1.6;
  font-size: 18px;
}

a {
  color: #4c51bf;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  background-color: #4c51bf;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  display: inline-block;
  transition: background-color 0.3s ease-out;
  cursor: pointer;
  border-width: 0;
}

button:hover {
  background-color: #434190;
}
