@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f9f8fd;
  font-family: 'Poppins', sans-serif;
  color: #333;
  line-height: 1.6;
  font-size: 18px;
}

a {
  color: #4c51bf;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 1rem;
  width: 100%;
}

.text-center {
  text-align: center;
}

.card {
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin-bottom: 2rem;
  width: 100%;
}

.btn {
  background-color: #4c51bf;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  display: inline-block;
  transition: background-color 0.3s ease-out;
  cursor: pointer;
}

.btn:hover {
  background-color: #434190;
}


