.playerList {
  max-width: min-content;
  display: flex;
  flex-direction: column;
  justify-content: top;
  background-color: #f5f5f5;
  padding: 0.5rem;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.playerListItem {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 0.5rem;
  padding: 10px;
  transition: box-shadow 0.2s ease-in-out;
}

.playerListItem:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
